*.bak
greybox_tmp
/synth/DE1/db
/synth/DE1/incremental_db
/synth/DE1/output_files
/synth/DE1/simulation/modelsim
/synth/DE1/*.qws
/synth/DE1/*.qip
/synth/DE2/db
/synth/DE2/incremental_db
/synth/DE2/output_files
/synth/DE2/simulation/modelsim
/synth/DE2/*.qws
/synth/DE2/*.qip
/synth/wxeda/db
/synth/wxeda/incremental_db
/synth/wxeda/output_files
/synth/wxeda/simulation/modelsim
/synth/wxeda/*.qws
/synth/wxeda/*.qip
/synth/wxeda/PLLJ_PLLSPE_INFO.txt
/synth/prot1/db
/synth/prot1/incremental_db
/synth/prot1/output_files
/synth/prot1/simulation/modelsim
/synth/prot1/*.qws
/synth/prot1/*.qip
/synth/prot2/db
/synth/prot2/incremental_db
/synth/prot2/output_files
/synth/prot2/simulation/modelsim
/synth/prot2/*.qws
/synth/prot2/*.qip
/synth/ep4c10/db
/synth/ep4c10/incremental_db
/synth/ep4c10/output_files
/synth/ep4c10/simulation/modelsim
/synth/ep4c10/*.qws
/synth/ep4c10/*.qip
/src/ram/pll1.qip
/src/syn-wxeda/*.cmp
/synth/DE1/*.rpt
/src/syn-de1/*.cmp
/ROMs/loader/obj
/src/rom/*.cmp
/ROMs/loader/*.bin
/ROMs/loader/*.ihx
/ROMs/loader/*.lk
/ROMs/loader/*.map
/ROMs/loader/*.noi
/ROMs/bootrom.zip
