*.bak
greybox_tmp
/synth/DE1/db
/synth/DE1/incremental_db
/synth/DE1/output_files
/synth/DE1/simulation/modelsim
/synth/DE1/*.qws
/synth/DE1/*.qip
/synth/DE2/db
/synth/DE2/incremental_db
/synth/DE2/output_files
/synth/DE2/simulation/modelsim
/synth/DE2/*.qws
/synth/DE2/*.qip
/synth/wxeda/db
/synth/wxeda/incremental_db
/synth/wxeda/output_files
/synth/wxeda/simulation/modelsim
/synth/wxeda/*.qws
/synth/wxeda/*.qip
/synth/wxeda/PLLJ_PLLSPE_INFO.txt
/synth/prot1/db
/synth/prot1/incremental_db
/synth/prot1/output_files
/synth/prot1/simulation/modelsim
/synth/prot1/*.qws
/synth/prot1/*.qip
/synth/prot2/db
/synth/prot2/incremental_db
/synth/prot2/output_files
/synth/prot2/simulation/modelsim
/synth/prot2/*.qws
/synth/prot2/*.qip
/synth/ep4c10/db
/synth/ep4c10/incremental_db
/synth/ep4c10/output_files
/synth/ep4c10/simulation/modelsim
/synth/ep4c10/*.qws
/synth/ep4c10/*.qip
/src/ram/pll1.qip
/src/syn-wxeda/*.cmp
/synth/DE1/*.rpt
/src/syn-de1/*.cmp
/ROMs/loader/obj
/src/rom/*.cmp
/ROMs/loader/*.bin
/ROMs/loader/*.ihx
/ROMs/loader/*.lk
/ROMs/loader/*.map
/ROMs/loader/*.noi
/ROMs/bootrom.zip
/synth/zxuno/*.html
/synth/zxuno/ipcore_dir/pll1
/synth/zxuno/_xmsgs
/synth/zxuno/_ngo
/synth/zxuno/iseconfig
/synth/zxuno/ipcore_dir/tmp
/synth/zxuno/xst/work
/synth/zxuno/ipcore_dir/*.asy
/synth/zxuno/ipcore_dir/*.gise
/synth/zxuno/ipcore_dir/*.vho
/synth/zxuno/ipcore_dir/*.xco
/synth/zxuno/ipcore_dir/*.xdc
/synth/zxuno/ipcore_dir/*.txt
/synth/zxuno/ipcore_dir/*.tcl
/synth/zxuno/xlnx_auto_0_xdb
/synth/zxuno/*.xml
/synth/zxuno/*.gise
/synth/zxuno/*.bld
/synth/zxuno/*.cmd_log
/synth/zxuno/*.lso
/synth/zxuno/*.ncd
/synth/zxuno/*.ngc
/synth/zxuno/*.ngd
/synth/zxuno/*.ngr
/synth/zxuno/*.pad
/synth/zxuno/*.par
/synth/zxuno/*.pcf
/synth/zxuno/*.prj
/synth/zxuno/*.ptwx
/synth/zxuno/*.stx
/synth/zxuno/*.syr
/synth/zxuno/*.twr
/synth/zxuno/*.twx
/synth/zxuno/*.unroutes
/synth/zxuno/*.xpi
/synth/zxuno/*.xst
/synth/zxuno/*.map
/synth/zxuno/*.mrp
/synth/zxuno/*.ngm
/synth/zxuno/*.xrpt
/synth/zxuno/*.csv
/synth/zxuno/*.txt
/synth/zxuno/*.log
/synth/zxuno/*.bgn
/synth/zxuno/*.bit
/synth/zxuno/*.drc
/synth/zxuno/*.ut
/synth/zxuno/*.xwbt
/ROMs/multcart/*.ihx
/ROMs/multcart/*.lk
/ROMs/multcart/*.map
/ROMs/multcart/*.noi
/ROMs/multcart/obj
/synth/zxuno/ipcore_dir/_xmsgs
/synth/zxuno/ipcore_dir/*.cgc
/synth/zxuno/ipcore_dir/*.ncf
/synth/ep4c10/PLLJ_PLLSPE_INFO.txt
/src/peripheral/pll1.qip
/synth/multicore/*.qws
/synth/multicore/db
/synth/multicore/incremental_db
/synth/multicore/output_files
/synth/multicore/PLLJ_PLLSPE_INFO.txt
/src/peripheral/genesispad/tb/transcript
/src/peripheral/genesispad/tb/*.wlf
/src/peripheral/genesispad/tb/work
/DOCs/Coleco_s700a/src/tb_vdp18
/BINs
/synth/zxuno/*.cmd
/synth/zxuno/*.iaf
/synth/zxuno/ipcore_dir/*.log
/synth/zxuno/ipcore_dir/*.sym
